@keyframes play120 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -2880px 0px;
  }
}
.shapeshifter {
  animation-duration: 2000ms;
  animation-timing-function: steps(120);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play120;
}
